<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="skyline-private" value="https://pkgs.dev.azure.com/pdi-skyline/_packaging/SLC-SE-ReusableComponents/nuget/v3/index.json" />
  </packageSources>
</configuration>
